name: Build and Deploy NodeJS App on AWS
on:
  push:
    branches:
    - main
  
jobs:
  Build-App:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4    
      - name: Barani CI/CDI
      - run:
          echo "We are learning about DevOps toaday"
